<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Failed Update </title>
    <object th:include="'fragments/fragment' :: css" th:remove="tag"></object>
    <object th:include="'fragments/fragment' :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        nav{
            background-color: #313E60;
        }
        body {
            font-family: 'Poppins';
        }
        footer {
            /*position:absolute;*/
            bottom:0;
            width:100%;
        }
    </style>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar" ></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="color:red" th:text="'Item dengan nama ' + ${item.nama} + ' dan uuid ' + ${item.uuid} + ' gagal diupdate karena gagal melakukan request ke SI-ITEM atau tambahan stok kurang dari sama dengan 0'"></h2>
                <br>
                <a th:href="@{/item/update/} + ${item.uuid}" class="mx-2 btn btn-warning">Update Item</a>
                <a class="btn btn-primary" th:href="@{/}">Home</a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>
