<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>SI - FACTORY</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 style="color:red" th:text="'Pegawai dengan username ' + ${username} + ' gagal ditambahkan karena user dengan username tersebut sudah tersedia.'"></h2>
                <br>
                <a th:href="@{/pegawai/add}" class="mx-2 btn btn-warning">Tambah Pegawai Baru</a>
                <a class="btn btn-primary" th:href="@{/}">Home</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>