<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <meta charset="UTF-8">
  <title> Propose Item </title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<div class="container" sec:authorize="hasAuthority('FACTORY_MANAGER')">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card m-4 p-4">
        <div class="card-header">
          <h3 style="text-align: center">Form Propose Item</h3>
        </div>
        <div class="card-body">
          <form th:action="@{/item/propose-item}" method="POST">
            <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
            <label>Nama Item</label>
            <input type="text" name="name" class="form-control" />

            <br>
            <label>Harga Item</label>
            <input type="number" name="price" class="form-control" />

            <br>
            <label>Stok Item</label>
            <input type="number" name="stock" class="form-control" />

            <br>
            <label>Kategori Item</label>
            <select name="category" class="form-control">
              <option selected value=""> -- Pilih Kategori -- </option>
<!--              <option th:each="idKategori : ${listidKategori}" th:value="${idKategori.ididKategori}" th:text="${idKategori.nama}"></option>-->
              <div th:each="idKategori : ${listKategori}">
              <option th:if="${idKategori} == 1" th:value="${idKategori}">BUKU</option>
              <option th:if="${idKategori} == 2" th:value="${idKategori}">DAPUR</option>
              <option th:if="${idKategori} == 3" th:value="${idKategori}">MAKANAN & MINUMAN</option>
              <option th:if="${idKategori} == 4" th:value="${idKategori}">ELEKTRONIK</option>
              <option th:if="${idKategori} == 5" th:value="${idKategori}">FASHION</option>
              <option th:if="${idKategori} == 6" th:value="${idKategori}">KECANTIKAN & PERAWATAN DIRI</option>
              <option th:if="${kategor} == 7" th:value="${idKategori}">FILM & MUSIK</option>
              <option th:if="${idKategori} == 8" th:value="${idKategori}">GAMING</option>
              <option th:if="${idKategori} == 9" th:value="${idKategori}">GADGET</option>
              <option th:if="${idKategori} == 10" th:value="${idKategori}">KESEHATAN</option>
              <option th:if="${idKategori} == 11" th:value="${idKategori}">RUMAH TANGGA</option>
              <option th:if="${idKategori} == 12" th:value="${idKategori}">FURNITURE</option>
              <option th:if="${idKategori} == 13" th:value="${idKategori}">ALAT & PERANGKAT KERAS</option>
              <option th:if="${idKategori} == 14" th:value="${idKategori}">WEDDING</option>
              </div>
            </select>
            <br>
            <div>
              <button class="btn btn-outline-warning align-items-center" th:href="@{/}">Home</button>
              <button type="submit" class="btn btn-warning align-items-center">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>