<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        nav{
            background-color: #313E60;
        }
        body {
            font-family: 'Poppins';
        }
        footer {
            /*position:absolute;*/
            bottom:0;
            width:100%;
        }
    </style>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar" ></nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card m-4 p-4">
                <div class="card-header">
                    <h3 style="text-align: center">Tambah Pegawai Baru</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/pegawai/add}" method="POST" onsubmit="return confirm('Apakah anda sudah yakin?');">
                        <input type="hidden" name="username" th:value="${#httpServletRequest.userPrincipal.name}">
                        <label>User Name</label>
                        <input type="text" name="username" required class="form-control" />

                        <br>
                        <label>Nama</label>
                        <input type="text" name="nama" required class="form-control" />

                        <br>
                        <label>Email</label>
                        <input type="email" name="email" required class="form-control" />

                        <br>
                        <label>Password</label>
                        <input type="password" name="password" required class="form-control" />

                        <br>
                        <label>Tanggal Lahir</label>
                        <input type="date" name="tanggalLahir" required class="form-control" />

                        <br>
                        <label>Role</label>
                        <select name="role" required class="form-control">
                            <option selected value=""> -- Pilih Role -- </option>
                            <option th:each="role : ${listRole}" th:value="${role.idRole}" th:text="${role.namaRole}"></option>
                        </select>
                        <br>
                        <div sec:authorize="hasAuthority('ADMIN')">
<!--                        <div>-->
                            <a class="btn btn-outline-info" th:href="@{/}">Home</a>
                            <button type="submit" class="btn btn-primary">Simpan</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>