<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="'fragments/'+${role} :: css" th:remove="tag"></object>
    <object th:include="'fragments/'+${role} :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar"></nav>
<div class="d-flex justify-content-center">
    <div class="m-4">
        <h2 style="text-align: center" th:text="'Hello ' + ${#httpServletRequest.remoteUser} + '!'">Login as</h2>
        <h2>Selamat datang di SI-FACTORY</h2>
        <div class="d-flex justify-content-center">
            <a th:href="@{/}" class="mx-2 btn btn-warning">ACTION</a>
            <a th:href="@{/}" class="mx-2 btn btn-outline-warning">ACTION</a>
        </div>
        <div class=" my-3 d-flex justify-content-center">
            <a th:href="@{/mesin/viewall}" class="mx-2 btn btn-warning">Lihat Semua Mesin</a>
            <a th:href="@{/item/viewall}" class="mx-2 btn btn-outline-warning">Lihat Semua Item</a>
        </div>
        <div sec:authorize="hasAuthority('ADMIN')">
<!--        <div>-->
            <a th:href="@{/pegawai/add}" class="mx-2 btn btn-outline-warning">Tambah Pegawai Baru</a>
        </div>
        <div sec:authorize="hasAnyAuthority('STAFF_GUDANG','STAFF_OPERASIONAL')">
            <a th:href="@{/request-update-item/viewall}" class="mx-2 btn btn-outline-warning">Request Update Item</a>
        </div>
        <div class=" my-3 d-flex justify-content-center" sec:authorize="hasAuthority('FACTORY_MANAGER')">
            <a th:href="@{/item/propose-item}" class="mx-2 btn btn-outline-warning">Propose Item</a>
        </div>
        <div class=" my-3 d-flex justify-content-center" sec:authorize="hasAnyAuthority('ADMIN','FACTORY_MANAGER')">
            <a th:href="@{/pegawai/viewall}" class="mx-2 btn btn-outline-warning">Lihat Semua Pegawai</a>-
        </div>
    </div>
</div>
</body>

</html>
