<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title> Home </title>
    <object th:include="'fragments/'+${role} :: css" th:remove="tag"></object>
    <object th:include="'fragments/'+${role} :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="${message}"></h2>
                <br>
                <a class="btn btn-primary" href="/">Home</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>