<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>SI-FACTORY</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        nav{
            background-color: #313E60;
        }
        body {
            font-family: 'Poppins';
        }
        footer {
            position:absolute;
            bottom:0;
            width:100%;
        }
    </style>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar" ></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Kurir ' + ${kurir.nama} + ' berhasil di-assign untuk request update item dengan ID ' + ${idRequestUpdateItem}"></h2>
                <br>
                <a class="btn btn-primary" th:href="@{/request-update-item/viewall}">Kembali</a>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-info" href="/">Home</a>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>
