<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <title>Item Updated</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        body {
            font-family: 'Poppins';
        }
    </style>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2 th:text="'Stok item dengan nama ' + ${item.nama} + ' pada kategori ' + ${item.kategori} + ' dengan harga '
                + ${item.harga} + ' berhasil diupdate'"></h2>
                <br>
                <a class="btn btn-primary" th:href="@{/item/viewall}">Lihat semua item</a>
            </div>
        </div>
    </div>
</div>

</body>

</html>
