<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title> List Item </title>
    <object th:include="'fragments/fragment' :: css" th:remove="tag"></object>
    <object th:include="'fragments/fragment' :: js" th:remove="tag"></object>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <style>
        nav{
            background-color: #313E60;
        }
        body {
            font-family: 'Poppins';
        }
        footer {
            /*position:absolute;*/
            bottom:0;
            width:100%;
        }
    </style>
</head>

<body>
<nav th:replace="'fragments/'+${role} :: navbar" ></nav>
<div class="container-fluid">
    <br>
    <h1 style="text-align: center">Daftar Semua Item</h1>
    <div class="card-body" >
        <div class="justify-content-center" th:each="entri, stat: ${itemHashMap}">
            <h3 th:text="'Daftar Item Dari Kategori ' + ${entri.key}"></h3>
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>No</th>
                    <th>ID Item</th>
                    <th>Nama</th>
                    <th>Harga</th>
                    <th>Stok</th>
                    <th>Kategori</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, iterationStatus : ${entri.value}"
                    th:style="${iterationStatus.even} ? 'background-color: #f2f2f2;'">
                    <td th:text="${iterationStatus.count}"></td>
                    <td th:text="${item.uuid}"></td>
                    <td th:text="${item.nama}" name="nama" id="nama" th:value="*{nama}" required></td>
                    <td th:text="${item.harga}" name="harga" id="harga" th:value="*{harga}" required></td>
                    <td th:text="${item.stok}" name="stok" id="stok" th:value="*{stok}" required></td>
                    <td th:text="${item.kategori}" name="kategori" id="kategori" th:value="*{kategori}" required></td>
                    <td>
                        <a class="btn btn-sm btn-dark" th:href="@{/item/view/} + ${item.uuid}">Detail</a>
                        <a sec:authorize="hasAuthority('STAFF_GUDANG')" class="btn btn-sm btn-warning"
                           th:href="@{/item/update/} + ${item.uuid}">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <a class="btn btn-outline-info" th:href="@{/}">Home</a>
    </div>
</div>
<footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>
